# Misc
.env
*.env

# Python
.venv
__pycache__
.ipynb_checkpoints

# R
.Rproj.user

# Stored models
**/hf/*
**/models/*
**/wandb/*

# Data
*.json
*.parquet
*.csv
*.db
*.pt
*.pkl

# Web
*.html

# Images
**/exports/*